.navbar-default {
    background-color: #50fd55;
    border-color: rgb(62,23,90);
}

    .navbar-default .navbar-brand {
        color: rgb(62,23,90);
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #ffffff;
        }

    .navbar-default .navbar-text {
        color: rgb(62,23,90);
    }

    .navbar-default .navbar-nav > li > a {
        color: rgb(62,23,90);
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #ffffff;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #ffffff;
        background-color: #352f90;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #ffffff;
        background-color: rgb(62,23,90);
    }

    .navbar-default .navbar-toggle {
        border-color: rgb(62,23,90);
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: white;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: rgb(62,23,90);
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: rgb(62,23,90);
    }

    .navbar-default .navbar-link {
        color: rgb(62,23,90);
    }

        .navbar-default .navbar-link:hover {
            color: #ffffff;
        }

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: rgb(62,23,90);
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #ffffff;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: rgb(62,23,90);
    }
}

.hlogo {
    height: 40px;
    margin-top: -10px;
}
