@{
    ViewBag.Title = "Home Page";
}
<div id="home">
    <div class="title">
        <img class="bplogo" src="http://www.pngmart.com/files/4/Premier-League-PNG-File.png" />
    </div>
    <div class="titleBox">
    </div>
    <div class="textP">
        <h3>WELCOME TO THE PREMIER LEAGUE COMPANION</h3>
    </div>
    <img src="~/images/stadion.jpg" class="backgroundPic" />
</div>